@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: lightgray;
  color: grey;
  font-family: nanum gothic;
  font-size: 0.8em;
}

header {
  width: 80%;
  height: 50px;
  display: flex;
  margin: auto;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 5px;
  align-items: center;
}

header h1 {
  color: #545353;
}

img {
  height: 50px;
  padding-right: 20px;
}

.grid {
  display: grid;
  grid-template-areas:
    "navigation navigation navigation navigation navigation"
    "login login content content content"
    "login login content content content"
    "help help content content content"
    "help help content content content";
  grid-auto-rows: 60px;
  grid-gap: 20px;
  width: 80%;
  height: auto;
  margin: auto;
}

.box {
  /* width: 150px; */
  background: white;
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
  border-radius: 5px;
  box-shadow: 3px 2px 3px #888888;
}

nav {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: grey;
}

.box:last-child {
  flex-direction: column;
}

.box:last-child h2 {
  font-size: 2em;
  padding-bottom: 20px;
  color: black;
  font-weight: 2;
}

.box:nth-of-type(3) {
  font-size: 2em;
  color: black;
  font-weight: 2;
}

.box:nth-of-type(3) p {
  font-size: 1.2em;
  color: black;
  font-weight: 2;
}

.grid .box:nth-of-type(1) {
  grid-area: navigation;
}
.grid .box:nth-of-type(2) {
  grid-area: login;
}
.grid .box:nth-of-type(3) {
  grid-area: help;
}
.grid .box:nth-of-type(4) {
  grid-area: content;
}

footer {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  height: 50px;
  padding-top: 20px;
  font-size: 0.7em;
}

@media (max-width: 800px) {
  header {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }
  .box:nth-of-type(1) {
    padding: 0;
  }

  .box:nth-of-type(2) {
    height: 80px;
  }
  .box:nth-of-type(3) {
    display: none;
  }
  .box:nth-of-type(4) {
    height: 100px;
  }
  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    justify-content: space-between;
  }
  nav a {
    text-decoration: underline #89cff0;
    height: 20px;
    color: #89cff0;
    border-bottom: 1px solid rgb(232, 229, 229);
    padding: 20px;
  }
  footer {
    font-size: 1em;
  }
}
